@charset "UTF-8";

/*  ν—¤λ” */
header {position: fixed; top: 0; left: 0; display: block; width: 100%; height: 80px; z-index: 999; background-color: #fff;}
.headerIn {min-width:1024px; height: 80px; border-bottom : 1px solid #E6E6E6;}
.headerIn:after, .gnb:after, .util:after{display: block; content: ""; clear: both;}
.gnb {float: left; color:#2E2E2E; padding : 26px 0 0 40px;}
.logo {float: left;}
.logo img {vertical-align: top;}
.gnb ul{padding-left: 80px; float : left;}
.gnb ul li{position: relative;  padding: 0 12px; float: left; color: #111111; font-weight: 500;}
.gnb > ul > li + li {padding-left: 40px;}

.util {float: right; padding: 24px 40px 0; font-size: 14px;}
.util ul {float: left;}
.util ul li{float: left;}
.util li:first-child{position: relative; color : #fff; width: 70px; height: 32px; background : #00aa91; text-align: center; line-height: 32px; top: -6px;
border-radius : 4px;}
.util > ul > li + li {padding:0 12px;}


/* ν‘Έν„° */
#footerIn {width:100%; background : #111111; color: #A4A4A4; font-size: 13px; font-weight: 400;}
.footerbox {width: 960px; margin: 0 auto; padding: 10px;}
.textbox {margin : 0 auto; vertical-align: middle;}
.footerbox a{color : #fff; font-size: 15px; font-weight: 500; margin : 15px 0 15px 0;}